@model LuxubuShop.Core.EF.Slide

@{
	ViewBag.Title = "Create";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section pageTitle{ Thêm Slide }
@section jsFooter {
	<script>
		$('#btnSelectImage').on('click', function (e) {
			e.preventDefault();
			var finder = new CKFinder();
			finder.selectActionFunction = function (url) {
				$('#urlImage').val(url);
			};
			finder.popup();
		})
	</script>
}

<div class="btn btn-primary btn-sm">
	<i class="fas fa-sign-out-alt fa-icon"></i>
	@Html.ActionLink("Quay lại", "Index", "Slide", new { @class = "text-white" })
</div>
<div class="pt-4">
	<div class="col-lg-12">
		@using (Html.BeginForm("Create", "Slide", FormMethod.Post, new { @id = "register-form" }))
		{
			@Html.AntiForgeryToken()

		<div class="form-horizontal">
			<div class="form-group">
				@Html.LabelFor(model => model.Image, new { @class = "control-label col-md-12" })
				<div class="col-md-12 d-flex">
					@Html.TextBoxFor(model => model.Image, new { @class = "form-control form-control-sm col-md-5", @id = "urlImage" })
					<button href="#" id="btnSelectImage" class="btn btn-warning btn-sm ml-2">Chọn ảnh</button>
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Link, new { @class = "control-label col-md-12" })
				<div class="col-md-12">
					@Html.TextBoxFor(model => model.Link, new { @class = "form-control form-control-sm col-md-5", @id = "urlImage" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-12" })
				<div class="col-md-12">
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.Status)
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-12">
					<button type="submit" class="btn btn-primary btn-user btn-block btn-sm">Tạo mới</button>
				</div>
			</div>
		</div>
		}
	</div>
</div>

