@model LuxubuShop.Core.EF.About

@{
	ViewBag.Title = "Create";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section  pageTitle {Cập nhật Trang giới thiệu}

@section jsFooter {
	<script>
		$('#btnSelectImage').on('click', function (e) {
			e.preventDefault();
			var finder = new CKFinder();
			finder.selectActionFunction = function (url) {
				$('#urlImage').val(url);
			};
			finder.popup();
		})
	</script>
	<script>
		CKEDITOR.replace('Detail');
	</script>
}

<div class="btn btn-primary btn-sm">
	<i class="fas fa-sign-out-alt fa-icon"></i>
	@Html.ActionLink("Quay lại", "Details", new { id = Model.ID }, new { @class = "text-white" })
</div>

<div class="pt-4 pb-5">
	@using (Html.BeginForm("Edit", "About", FormMethod.Post, new { @id = "register-form" }))
	{
		@Html.AntiForgeryToken()
		<div class="form-horizontal">
			<div class="form-group">
				@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
				<div class="col-md-12">
					@Html.TextBoxFor(model => model.Name, new { @class = "form-control form-control-sm", @rules = "required" })
					<small class="form-message text-danger"></small>
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-12" })
				<div class="col-md-12">
					@Html.TextAreaFor(model => model.Description, new { @class = "form-control form-control-sm", @rules = "required" })
					<small class="form-message text-danger"></small>
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Detail, htmlAttributes: new { @class = "control-label col-md-12" })
				<div class="col-md-12">
					@Html.TextAreaFor(model => model.Detail, new { @class = "form-control", @rules = "required" })
					<small class="form-message text-danger"></small>
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Image, new { @class = "control-label col-md-12" })
				<div class="col-md-12 d-flex">
					@Html.TextBoxFor(model => model.Image, new { @class = "form-control form-control-sm col-md-5", @id = "urlImage", @disabled = "disabled" })
					<button href="#" id="btnSelectImage" class="btn btn-warning btn-sm ml-2">Chọn ảnh</button>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-12">
					<button type="submit" class="btn btn-primary btn-user btn-block btn-sm">Lưu</button>
				</div>
			</div>
		</div>
	}

</div>