@using PagedList;
@using PagedList.Mvc;
@model PagedList<LuxubuShop.Core.ViewModels.ContentViewModel>
@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section pageTitle{ Bài viết }
@section jsFooter{
	<script src="~/Assets/Admin/js/controller/contentController.js"></script>
}

<div class="btn btn-primary btn-sm">
	<i class="fas fa-plus-circle"></i>
	@Html.ActionLink("Thêm mới", "Create", "Content", new { @class = "text-white" })
</div>

<!-- Begin Page Content -->
<div class="container-fluid mt-4">
	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3"></div>
		<div class="card-body">

			<div class="row justify-content-xl-between">
				<div class="col-lg-3 col-md-3">
					@using (Html.BeginForm("Index", "Content", FormMethod.Get))
					{
						@Html.DropDownList("catID", new SelectList(ViewBag.CategoryID, "ID", "Name"), "All", new { onChange = "this.form.submit();", @class = "custom-select custom-select-sm form-control form-control-sm" });
					}
				</div>
				<div class="col-lg-3 col-md-3">
					@using (Html.BeginForm("Index", "Content", FormMethod.Get))
					{
						<label class="d-flex align-items-center">
							<input class="form-control form-control-sm" placeholder="Search" name="searchString" value="@ViewBag.SearchString">
							<button type="submit" class="btn btn-outline-success btn-sm ml-1">
								<i class="fas fa-search"></i>
							</button>
						</label>
					}
				</div>
			</div>
			<div class="table-responsive mt-3">
				<table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr class="text-center">
							<th>Ngày tạo</th>
							<th>Tiêu đề</th>
							<th>Hình ảnh</th>
							<th>Danh mục</th>
							<th>Lượt xem</th>
							<th>Nổi bật</th>
							<th>Tùy chỉnh</th>
						</tr>
					</thead>
					<tfoot>
						<tr class="text-center">
							<th>Ngày tạo</th>
							<th>Tiêu đề</th>
							<th>Hình ảnh</th>
							<th>Danh mục</th>
							<th>Lượt xem</th>
							<th>Nổi bật</th>
							<th>Tùy chỉnh</th>
						</tr>
					</tfoot>
					<tbody>
						@foreach (var item in Model)
						{
							<tr id="row_@item.ID" class="text-center">
								<td>@string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</td>
								<td style="max-width: 200px;">
									<p id="product-name">@item.Name</p>
								</td>
								<td>
									<img src="@(item.Image)" alt="@(item.Name)" id="product-img" class="img-thumbnail" />
								</td>
								<td>@item.CateName</td>
								<td>@item.ViewCount</td>
								<td>
									<input class="input-active" data-id="@item.ID" type="checkbox" @(item.TopHot ? "checked" : "")>
								</td>
								<td>
									<button type="button" class="btn btn-primary btn-sm">
										@Html.ActionLink("Sửa", "Edit", new { @id = item.ID }, new { @class = "text-white" })
									</button>
									<button type="button" class="btn btn-danger btn-sm">
										@Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
										   {
											   Confirm = "Bạn chắn chắn muốn xóa tài khoản này ?",
											   OnComplete = "$('#row_" + @item.ID + "').remove()",
											   HttpMethod = "Delete"
										   }, new { @class = "text-white" })
									</button>
								</td>
							</tr>
						}
					</tbody>
				</table>
				<div class="pageList">
					Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
					@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
				</div>
			</div>
		</div>
	</div>

</div>
