@model LuxubuShop.Core.EF.ProductCategory

@{
	ViewBag.Title = "Edit";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section  pageTitle {Cập nhật Danh mục sản phẩm}

<div class="btn btn-primary btn-sm">
	<i class="fas fa-sign-out-alt fa-icon"></i>
	@Html.ActionLink("Quay lại", "Index", "ProductCategory", new { @class = "text-white" })
</div>

<div class="pt-4 pb-5">
	@using (Html.BeginForm("Edit", "ProductCategory", FormMethod.Post, new { @id = "register-form" }))
	{
		@Html.AntiForgeryToken()
		<div class="form-horizontal">

			<div class="form-group">
				@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
				<div class="col-md-12">
					@Html.TextBoxFor(model => model.Name, new { @class = "form-control form-control-sm col-md-12", @rules = "required" })
					<small class="form-message text-danger"></small>
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.ParentID, htmlAttributes: new { @class = "control-label col-md-12" })
				<div class="col-md-12">
					@Html.DropDownListFor(model => model.ParentID, null, new { @class = "form-control form-control-sm col-md-12" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.ShowOnHome, htmlAttributes: new { @class = "control-label col-md-12" })
				<div class="col-md-12">
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.ShowOnHome)
					</div>
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.SeoTitle, htmlAttributes: new { @class = "control-label col-md-12" })
				<div class="col-md-12">
					@Html.TextBoxFor(model => model.SeoTitle, new { @class = "form-control form-control-sm col-md-12", @rules = "required" })
					<small class="form-message text-danger"></small>
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.MetaDescriptions, htmlAttributes: new { @class = "control-label col-md-12" })
				<div class="col-md-12">
					@Html.TextAreaFor(model => model.MetaDescriptions, new { @class = "form-control form-control-sm col-md-12", @rules = "required" })
					<small class="form-message text-danger"></small>
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-12" })
				<div class="col-md-12">
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.Status)
					</div>
				</div>
			</div>



			<div class="form-group">
				<div class="col-md-12">
					<button type="submit" class="btn btn-primary btn-user btn-block btn-sm">Lưu</button>
				</div>
			</div>
		</div>
	}

</div>