@using PagedList.Mvc;
@model PagedList.IPagedList<LuxubuShop.Core.EF.ProductCategory>
@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section pageTitle{ Danh mục sản phẩm }

<div class="btn btn-primary btn-sm">
	<i class="fas fa-plus-circle"></i>
	@Html.ActionLink("Thêm mới", "Create", "ProductCategory", new { @class = "text-white" })
</div>

<!-- Begin Page Content -->
<div class="container-fluid mt-4">
	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3"></div>
		<div class="card-body">
			@using (Html.BeginForm("Index", "ProductCategory", FormMethod.Get))
			{
				<div class="row justify-content-end">
					<div class="col-lg-3 col-md-3">
						<label class="d-flex align-items-center">
							<input class="form-control form-control-sm" placeholder="Search" name="searchString" value="@ViewBag.SearchString">
							<button type="submit" class="btn btn-outline-success btn-sm ml-1">
								<i class="fas fa-search"></i>
							</button>
						</label>
					</div>
				</div>
			}
			<div class="table-responsive mt-3">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr class="text-center">
							<th>Tên danh mục</th>
							<th>Chuyên mục cha</th>
							<th>Chuỗi đường dẫn</th>
							<th>Tác giả</th>
							<th>Ngày tạo</th>
							<th>Tùy chỉnh</th>
						</tr>
					</thead>
					<tfoot>
						<tr class="text-center">
							<th>Tên danh mục</th>
							<th>Chuyên mục cha</th>
							<th>Chuỗi đường dẫn</th>
							<th>Tác giả</th>
							<th>Ngày tạo</th>
							<th>Tùy chỉnh</th>
						</tr>
					</tfoot>
					<tbody>
						@foreach (var item in Model)
						{
							<tr id="row_@item.ID" class="text-center">
								<td>@item.Name</td>
								<td>@(item.ParentID.HasValue ? item.ParentID.Value.ToString("N0"): "NULL")</td>
								<td>@item.MetaTitle</td>
								<td>@item.CreatedBy</td>
								<td>@string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</td>
								<td class="d-flex justify-content-md-around flex-md-wrap">
									<button type="button" class="btn btn-primary btn-sm">
										@Html.ActionLink("Sửa", "Edit", new { @id = item.ID }, new { @class = "text-white" })
									</button>
									<button type="button" class="btn btn-danger btn-sm">
										@Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
										   {
											   Confirm = "Bạn chắn chắn muốn xóa tài khoản này ?",
											   OnComplete = "$('#row_" + @item.ID + "').remove()",
											   HttpMethod = "Delete"
										   }, new { @class = "text-white" })
									</button>
								</td>
							</tr>
						}
					</tbody>
				</table>
				<div class="pageList">
					Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
					@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
				</div>
			</div>
		</div>
	</div>

</div>
