@using PagedList;
@using PagedList.Mvc;
@model PagedList<LuxubuShop.Core.EF.Content>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var tag = (LuxubuShop.Core.EF.Tag)ViewBag.Tag;
}

<div class="post">
	<h3 class="title">
		<span>Bài đánh giá theo: @tag.Name</span>
		<img src="~/Assets/Client/assets/images/common/bg_title.png" class="title-image" alt="" />
	</h3>
	<div class="post-list">
		@foreach (var item in Model)
		{
			var link = "/danh-gia/" + item.MetaTitle + "-" + tag.ID;
			<div class="post-item">
				<div class="row">
					<div class="col-xl-3">
						<a href="@link" class="post-thumb">
							<img src="@item.Image" alt="@item.Name" class="post-image" />
						</a>
					</div>
					<div class="col-xl-9">
						<div class="post-body">
							<h4 class="post-name">@item.Name</h4>
							<p class="post-des">
								@item.Description
							</p>
							<a href="@link" class="post-details">
								Xem thêm
								<i class="fas fa-arrow-right"></i>
							</a>
							<ul class="post-meta">
								<li class="post-meta-item">
									<i class="fas fa-user-edit"> @item.CreatedBy</i>
								</li>
								<li class="post-meta-item">
									<i class="fas fa-calendar-alt"> @string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</i>
								</li>
								<li class="post-meta-item">
									<i class="fas fa-eye"> @item.ViewCount</i>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
	<div class="pageList">
		@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
	</div>
</div>